/* BANNER */
.banner {
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 30px;
}

.banner>h1 {
    font-size: 45px;
}

.banner>p {
    font-size: 20px;
}

/* BOOKS */
.book-content {
    border-radius: 10px;
    padding: 20px;
}

.judul {
    font-size: 20px;
    margin: 0;
}

/* TABLE */
.table-wrapper {
    border-radius: 10px;
    padding: 30px;
}

/* FORM */
.form-group {
    margin-bottom: 20px;
}

/* FOOTER */
.footer {
    font-size: 17px;
    margin-top: 150px;
}

@media screen and (max-width: 768px) {
    /* BANNER */
    .banner {
        padding: 30px;
    }

    .banner>h1 {
        font-size: 25px;
    }

    .banner>p {
        font-size: 17px;
        width: 100%;
    }

    /* TABLE */
    .table-wrapper {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .table-wrapper::-webkit-scrollbar {
        display: none;
    }

    .table {
        width: 600px;
    }
}